*{
    margin: 0;
    padding: 0;
}

.manudiv{
    width: 800px;
    border: 1px solid black;
    padding: 20px;
    margin: 350px auto;
}

/* fulldiv */

.maindiv{
    background: rgb(54, 148, 211);

}
.maindiv ul{
    text-align: center;
}
.maindiv ul li{
    display: inline-block;
    margin-left: -4px;
    
}
.maindiv ul li:first-child a{
    border-left: 1px solid white;
}
.maindiv ul li a{
    display: inline-block;
    padding: 15px 30px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-right: 1px solid white;
    transition: .5s;
}
.maindiv ul li:hover > a{
    background: rgb(14, 101, 158);
}


/* dropdown */

.maindiv ul li{
    position: relative;
    
}
.maindiv ul li ul{
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background: rgb(54, 148, 211);
    transition: .5s;
}
.maindiv ul li ul li:first-child a{
    border-left: none;
    border-top: 1px solid white;
}
.maindiv ul li ul li{
    display: block;
    margin-left: 0;
}
.maindiv ul li ul li a{
    display: block;
    border: none;
    border-bottom: 1px solid white;
}

/* hover part */
.maindiv ul li ul{
    visibility: hidden;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top center;
}
.maindiv ul li:hover ul{
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
}


/* socail */


.footer22{

}

.footer22 .sociel{

}
.footer22 .sociel ul.socailul{
    text-align: center;
    margin-top: 100px;
}

.footer22 .sociel ul.socailul li{
display: inline-block;
    height: 50px;
    width: 50px;
    background-color: #5ea5fa;
    line-height: 50px;
    border-radius: 50%;
    margin-left: 10px;
}
.footer22 .sociel ul.socailul li a{
    display: inline-block;
    color: black;
}

.footer22 .sociel ul.socailul li:hover{
    background-color: #206ac5;
    transition: .5s;
}